@media only screen and (min-width:200px) and (max-width:575px){

    header{
        padding: 0px !important;
    }

    header img{
        width: 140px;
    }

    .btn-outer{
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: white;
        padding: 5px 0px;
        left: 0;
        justify-content: center !important;
    }
    .whatsappbtn,.call  {
        padding: 7px 15px;
        font-size: 14px;
    }

    .bannerContent h1{
        font-size: 32px;
        font-weight: 700;
    }

    .bannerContent p,.bannerContent ul li {
        padding:5px;
        font-size: 16px;
    }

    .bannerContentBtn{
        flex-direction: column;
    }
    .bannerContentBtn button{
        width: 100%;
    }

    .bannerForm{
        padding: 20px;
    }

    .highlights-section h2{
        font-size: 28px;
    }

}
@media (min-width: 1400px) {
    .container, .container-md, .container-sm {
        max-width: 1170px;
    }
}